body {
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: 6rem auto 4rem;
  justify-items: center;

  font-family: "Architects Daughter", cursive;
  font-weight: 400;
  font-style: normal;
}

header {
  font-size: 4rem;
  align-items: end;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.6rem;
  background-color: black;
  /* This looks nicer on mobile, but doesn't matter for desktop */
  margin: 3rem;
}

.board-cell {
  width: 12rem;
  height: 12rem;
  font-size: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  cursor: pointer;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-weight: 100;
  font-size: 1.2rem;
}

footer > a,
footer > a:visited {
  z-index: 1; /* Icon still clickable during modal */
  color: inherit;
  text-decoration: none;
  font-size: 2rem;
  transition: all 0.2s ease-in-out;
}

footer > a:hover {
  cursor: pointer;
  transform: scale(1.2);
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal > h1 {
  font-size: 10rem;
  color: white;
  font-style: italic;
}

.modal > button {
  font-size: 3rem;
  color: white;
  font-style: italic;
  border: none;
  background-color: inherit;
  font-family: inherit;
  opacity: inherit;
  padding: 2rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.modal > button:hover {
  transform: scale(1.3);
}
